.advantages {

  &__items {
    display: flex;

    &.right .advantages__img {
      order: -1;
    }
  }

  &__items.material {
    .advantages__item {
      padding: 56px 70px 80px;

      &-title {
        margin: 28px auto;
      }
    }
  }

  .gray {
    background-color: $gray;
  }

  &__item {
    width: calc(100% / 3);
    text-align: center;

    &-title {
      font-size: 21px;
      max-width: 150px;
      margin: 0 auto;
      font-weight: 700;
    }

    &-num {
      margin: 20px 0;
    }

    &.image {
      background-color: $blue;
      padding: 43px 45px 50px;
      color: $white;
    }
  }

  &__img {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
