.sort {
  border-bottom: 1px solid #dcdcdc;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
  }

  &__left {
    display: flex;
    position: relative;
  }

  &__found {
    font-size: 21px;
    font-weight: 700;
    margin-right: 45px;
  }

  &__name {
    margin-right: 40px;
    font-size: 12px;
  }

  &__name-btn {
    display: none;
    position: relative;
    font-size: 13px;

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 100%;
      background-color: $blue;
    }
  }

  &__list {
    display: flex;
    font-size: 12px;

    &-item {
      margin-right: 30px;

      &.active .sort__list-link {
        color: $blue;
      }

      &:not(.active) {
        color: #a0a0a0;
        position: relative;

        &:hover {
          color: $blue;
        }

        &:active {
          color: $black;

          &:after {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          height: 1px;
          background-color: $blue;
        }
      }

    }

    &-link {
      padding: 0 5px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    outline: none;

    &-triangle {
      display: block;
      border: 8px solid transparent;

      $border-triangle: 15px;

      &.top {
        margin-right: 12px;
        border-bottom: $border-triangle solid #CACACA;
      }

      &.bottom {
        border-top: $border-triangle solid $blue;
        margin-bottom: -10px;
      }
    }
  }
}
