@media (max-width: 1030px) {
  .advantages__items.material .advantages__item {
    padding: 56px 40px 80px;
  }
}

@media (max-width: 860px) {
  .filter-panel__checkboxes-col:not(:last-child) {
    margin-right: 70px;
  }
}

@media (max-width: 800px) {
  .header__item:not(.logo) {
    display: none;
  }

  .header__item:not(:last-child) {
    border-right: none;
  }

  .header__list {
    justify-content: center;
  }

  .logo {
    width: 160px;
  }

  .intro {
    padding: 0 80px;
  }

  .advantages__item.image {
    padding: 20px;
  }

  .filter-panel {
    background-position: right bottom;
  }

  .filter-panel__inner {
    flex-direction: column;
    align-items: center;
  }

  .filter-panel__checkboxes {
    margin-bottom: 30px;
  }

  .filter-panel__price {
    width: 350px;
  }

  .header .burger {
    display: block;
  }

  .advantages__items.material .advantages__item {
    padding: 56px 25px 80px;
  }
}

@media (max-width: 720px) {
  .sort__found {
    font-size: 14px;
    margin-right: 25px;
  }

  .sort__name {
    margin-right: 18px;
    font-size: 12px;
  }

  .sort__list-item {
    margin-right: 16px;
  }
}

@media (max-width: 700px) {
  .advantages__item-title {
    font-size: 18px;
  }

  .advantages__item-num {
    margin: 10px 0;
  }

  .advantages__items {
    flex-direction: column;
  }

  .advantages__item.image {
    width: 100%;
  }

  .advantages__item.white {
    width: 100%;
  }

  .advantages__img {
    height: 180px;
  }

  .advantages__items.material .advantages__item {
    padding: 20px 150px;
  }

  .advantages__item.white {
    &:first-child {
      padding-top: 50px;
    }

    &:last-child {
      padding-bottom: 50px;
    }
  }

  .advantages__item.gray {
    width: 100%;
  }

  .card__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .card__rate {
    margin-top: 20px;
    align-items: center;
  }

  .card__rate-list {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .advantages__items.material .advantages__item {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media (max-width: 560px) {
  .header {
    height: 50px;
  }

  .header__logo {
    width: 120px;
    height: auto;
  }

  .intro {
    padding: 0 60px;
    min-height: 480px;
  }

  .help-wrapper {
    padding: 0;
    box-shadow: none;
  }

  .container {
    padding: 0;
  }

  .form__body {
    padding: 40px 30px;
  }

  .form {
    font-size: 12px;
  }

  .form__text {
    min-width: 100px;
  }

  .form__btn {
    padding: 12px 0;
    font-size: 18px;
  }

  .form__num-row {
    margin-bottom: 30px;
  }

  .sort__list {
    display: none;
  }

  .logo {
    width: 130px;
  }
}

@media (max-width: 560px) {
  .form__text {
    min-width: 90px;
  }

  .form .small .form__text {
    min-width: 50px;
  }

}


@media (max-width: 480px) {
  .intro {
    padding: 0 30px;
    min-height: 410px;
  }

  .card__general {
    flex-direction: column;
    align-items: center;
  }

  .card__inner {
    align-items: center;
    text-align: center;
  }

  .card__img {
    width: 180px;
    height: 130px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card__title {
    margin-bottom: 10px;
  }

  .advantages__items.material .advantages__item {
    padding-left: 60px;
    padding-right: 60px;
  }

}

@media (max-width: 460px) {
  .form__num-row {
    flex-direction: column;
  }

  .form .small {
    justify-content: flex-start;
  }

  .form .small .form__text {
    min-width: 90px;
  }

  .form__num-col {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .form__label {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form__header {
    font-size: 16px;
    min-height: 60px;
  }
}

@media (max-width: 400px) {
  .hotels-container {
    padding: 0 10px;
  }

  .filter-panel {
    font-size: 12px;
  }

  .filter-panel__price {
    width: 100%;
  }

  .filter-panel__checkboxes {
    width: 100%;
  }

  .filter-panel__title {
    font-size: 14px;
  }

  .filter-panel__checkboxes-col:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 380px) {
  .advantages__items.material .advantages__item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
